{% load static%}
{% load static tailwind_tags %}
{% tailwind_css %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="bg-gray-100">

    <div class="flex min-h-screen">
        {% include "superuser/components/sidebar.html" %}

        <div class="flex-1 flex flex-col">
            {% block navbar %} {% endblock %}

            <main class="p-6 flex-1 overflow-y-auto">
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>

    {% include "superuser/components/mobilenav.html"%}

    <script>
        function toggleSidebar() {
            document.getElementById('mobileSidebar').classList.toggle('hidden');
        }

        function toggleMenu(id) {
            document.getElementById(id).classList.toggle('hidden');
        }

        function showQuestionType(type) {
            const form = document.getElementById('Form');
            const createTab = document.getElementById('createTab');
            const questionTab = document.getElementById('questionTab');

            if (type === 'create') {
                form.classList.remove('hidden');
                createTab.classList.add('text-gray-900', 'border-gray-900');
                createTab.classList.remove('text-gray-500', 'border-transparent');
                questionTab.classList.add('hidden');
                questionTab.classList.remove('text-gray-900', 'border-gray-900');
            } else if (type === 'questions') {
                form.classList.add('hidden');
                questionTab.classList.add('text-gray-900', 'border-gray-900');
                questionTab.classList.remove("hidden");
                createTab.classList.add('text-gray-500', 'border-transparent');
                createTab.classList.remove('text-gray-900', 'border-gray-900');
            }
        }
    </script>

</body>

</html>
