{% load static%}
{% load static tailwind_tags %}
{% tailwind_css %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="bg-gray-100">

    <div class="flex min-h-screen">

        <aside class="w-64 bg-gray-900 text-white hidden md:flex flex-col">
            <div class="p-4 text-xl font-bold border-b border-gray-700">
                Ujiku dashboard
            </div>
            <nav class="flex-1 p-4 space-y-2">
                <a href="{% url 'admin-dashboard'%}" class="block px-4 py-2 rounded hover:bg-gray-800">Dashboard</a>

                <div>
                    <button onclick="toggleMenu('akunMenu')"
                        class="w-full text-left px-4 py-2 mt-4 flex justify-between items-center hover:bg-gray-800 rounded">
                        <span>Akun</span>
                        <span>▾</span>
                    </button>
                    <div id="akunMenu" class="ml-2 mt-2 space-y-1 hidden">
                        <a href="{% url 'admin-student-acc' %}" class="block px-4 py-2 rounded hover:bg-gray-800">Siswa</a>
                        <a href="{% url 'admin-teacher-acc'%}" class="block px-4 py-2 rounded hover:bg-gray-800">Guru</a>
                        <a href="{% url 'admin-su-acc' %}" class="block px-4 py-2 rounded hover:bg-gray-800">Admin</a>
                    </div>
                </div>

                <div>
                    <button onclick="toggleMenu('pembelajaranMenu')"
                        class="w-full text-left px-4 py-2 mt-2 flex justify-between items-center hover:bg-gray-800 rounded">
                        <span>Pembelajaran</span>
                        <span>▾</span>
                    </button> 
                    <div id="pembelajaranMenu" class="ml-2 mt-2 space-y-1 hidden">
                        <a href="{% url 'admin-exam-pem' %}" class="block px-4 py-2 rounded hover:bg-gray-800">Ujian</a>
                        <a href="{% url 'admin-mapel-pem' %}" class="block px-4 py-2 rounded hover:bg-gray-800">Mata pelajaran</a>
                        <a href="{% url 'admin-bank-pem' %}" class="block px-4 py-2 rounded hover:bg-gray-800">Bank soal</a>
                        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-800">Cetak Kartu</a>
                    </div>

                </div>
            </nav>
        </aside>

        <div class="flex-1 flex flex-col">
            {% block navbar %} {% endblock %}

            <main class="p-6 flex-1 overflow-y-auto">
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>

    {% include "superuser/components/mobilenav.html"%}

    <script>
        function toggleSidebar() {
            document.getElementById('mobileSidebar').classList.toggle('hidden');
        }

        function toggleMenu(id) {
            document.getElementById(id).classList.toggle('hidden');
        }

        function showQuestionType(type) {
            const essayForm = document.getElementById('essayForm');
            const multipleForm = document.getElementById('multipleForm');
            const essayTab = document.getElementById('essayTab');
            const multipleTab = document.getElementById('multipleTab');

            if (type === 'essay') {
                essayForm.classList.remove('hidden');
                multipleForm.classList.add('hidden');
                essayTab.classList.add('text-gray-900', 'border-gray-900');
                essayTab.classList.remove('text-gray-500', 'border-transparent');
                multipleTab.classList.add('text-gray-500', 'border-transparent');
                multipleTab.classList.remove('text-gray-900', 'border-gray-900');
            } else {
                essayForm.classList.add('hidden');
                multipleForm.classList.remove('hidden');
                multipleTab.classList.add('text-gray-900', 'border-gray-900');
                multipleTab.classList.remove('text-gray-500', 'border-transparent');
                essayTab.classList.add('text-gray-500', 'border-transparent');
                essayTab.classList.remove('text-gray-900', 'border-gray-900');
            }
        }
    </script>

</body>

</html>
